.notify-container{
    margin: 80px;
    height: 100vh;
}
.notify-container h1{
    text-align: center;
    font-size: 39px;
    font-weight: 400;
}
.text{
    text-align: center;
}

li button{
    width: 69px;
    padding: 7px;
    border-radius: 6px;
    margin: 15px;
}

li button:hover{
    width: 70px;
    padding: 8px;
    border-radius: 6px;
    margin: 15px;
    font-weight: bold;
}